<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
</head>

<body>
	
	<h1 style="color: orange;">User Login</h1>
	
<!--	<h2 th:text="${m}"></h2>  -->
	
	<form action="LoginPage" method="post">
		<input type="text" name="email" placeholder="Enter your email id here" /><br><br>
		<input type="password" name="pass" placeholder="Set your password" /><br><br>
		<button type="submit">Login</button>
	</form>

</body>

</html>