<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Enter details</title>
</head>
<body>
<h1 style="color: orange;">Register Yourself as a Programmer</h1>
	
<!--	<h2 th:text="${m}"></h2>  -->
	
	<form action="addedProgrammer" method="post">
<!--		<input type="text" name="pID" placeholder="Enter your name here" /><br><br> -->
		<input type="text" name="pName" placeholder="Enter your name here" /><br><br>
		<input type="text" name="pLang" placeholder="Enter your language here" /><br><br>
		
		<br><br>
		<button type="submit">Register</button>
	</form>
</body>
</html>