<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User CRUD Page</title>
</head>
<body>
	
<!--	<h2 th:text="${m}"></h2>  -->


	<!-- Create data -->
	<h1 style="color: orange;">Register Yourself as a Programmer</h1>
	<form action="addedProgrammer" method="post">
<!--		<input type="text" name="pID" placeholder="Enter your name here" /><br><br> -->
		<input type="text" name="pName" placeholder="Enter your name here" /><br><br>
		<input type="text" name="pLang" placeholder="Enter your language here" />
		<button type="submit">Register</button>
	</form>
	
	<br>
	<hr/>
	
	
	<!-- Read data by ID -->
	<h1 style="color: orange;">Read Your Details</h1>
	<form action="readData" method="post">
		<input type="text" name="pID" placeholder="Enter ID to see details" />
		<button type="submit">Find By ID</button>
	</form>
	
	<br>
	<hr/>
	
	<!-- Read data by Language -->
	<h1 style="color: orange;">Read Your Details by Language</h1>
	<form action="readDataByLang" method="post">
		<input type="text" name="pLang" placeholder="Enter language to see all" />
		<button type="submit">Find By Language</button>
	</form>
	
	<br>
	<hr/>
	
	<!-- Update/Edit data by ID -->
	<h1 style="color: orange;">Update Your Details</h1>
	<form action="updateData" method="post">
		<input type="text" name="pID" placeholder="Enter your ID here" /><br><br>
		<input type="text" name="pName" placeholder="Enter new name" /><br><br>
		<input type="text" name="pLang" placeholder="Enter new language" />
		<button type="submit">Update Details</button>
	</form>
	
	<br>
	<hr/>
	
	<!-- Delete data by ID -->
	<h1 style="color: orange;">Delete Your Details</h1>
	<form action="deleteData" method="get">
		<input type="text" name="pID" placeholder="Enter ID to delete details" />
		<button type="submit">Delete</button>
	</form>
	
</body>
</html>